.searchContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  z-index: 10;
  border: 2px solid rgba(209, 211, 212, 0.15);
  border-radius: 5px;
  background: #d1d3d4;
}

.searchInnerContainer {
  height: 60px;
  border-radius: 10px;
  border: 2px solid rgba(209, 211, 212, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.inputContainer input {
  outline: none;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #231f20;
  font-size: 15px;
  margin-left: 5px;
  height: 40px;
}

.inputContainer .icon {
  font-size: 15px;
  margin-left: 5px;
}

.buttonContainer {
  background: white;
  color: rgb(59, 59, 59);
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(209, 211, 212, 0.15);
  border-radius: 5px;
}
